@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #736a3d;
  --darkprimary: #0d0c07;
  --lightprimary: #b9ae79;
  --secondary: #f2c14e;
  --lightsecondary: #fcf2d9;
  --red: #c97064;
  --warning: #4f1810;
  --grey: #88a0a8;
  --light: #e6fafc;
  --opaqueWhite: rgba(255, 255, 255, 0.9);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--white);
  text-decoration: inherit;
}
a:hover {
  color: var(--secondary);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: pink;
}
/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

li[data-sidebar="menu-item"] > button {
  background-color: transparent;
  color: var(--white);
  border: none;
}

/* a[data-activity="true"] > svg,
a[data-activity="true"] > span {
  color: var(--secondary);
} */

a.active > div > svg,
a.active > div > span {
  color: var(--secondary);
}

a > span {
  background-color: transparent;
}

/* .DropdownMenuContent {
  background-color: #ffffff;
  border: 1px solid var(--darkprimary);
  margin-right: 32px;
} */

.form-item {
  margin-top: 0px !important;
}
.margintopsmall {
  margin-top: 3px !important;
  margin-bottom: 3px !important;
}

#failure-message {
  margin-top: 0px;
}

.layoutMain {
  scrollbar-color: var(--secondary) var(--primary);
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--grey);
    background-color: var(--light);
  }
  a:hover {
    color: var(--light);
  }
  button {
    background-color: var(--light);
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
    --sidebar-background: 50, 30%, 4%;
    --sidebar-foreground: 43, 85%, 92%;
    --sidebar-primary: 42, 86%, 63%;
    --sidebar-primary-foreground: 43, 85%, 92%;
    --sidebar-accent: 50, 31%, 35%;
    --sidebar-accent-foreground: 0, 0%, 100%;
    --sidebar-border: 43, 85%, 92%;
    --sidebar-ring: 195, 16%, 60%;

    /* --primary: hsl(50, 31%, 35%);
      --darkprimary: hsl(50, 30%, 4%);
      --lightprimary: hsl(50, 31%, 60%);
      --secondary: hsl(42, 86%, 63%);
      --lightsecondary: hsl(43, 85%, 92%);
      --red: hsl(7, 48%, 59%);
      --warning: hsl(8, 66%, 19%);
      --grey: hsl(195, 16%, 60%);
      --light: hsl(185, 79%, 95%); */
  }

  /* .dark {
    --sidebar-background: var(--light);
    --sidebar-foreground: var(--darkprimary);
    --sidebar-primary: var(--primary);
    --sidebar-primary-foreground: var(--light);
    --sidebar-accent: var(--secondary);
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: var(--secondary);
    --sidebar-ring: var(--secondary);
  } */
}
